.profile-btn {
	background: linear-gradient(98.04deg, #3c1960 -9.26%, #a12669 58.73%);

	padding: 0.5em 1em;
	margin-right: 1em;
	font-size: 15px;
	border-radius: 10px;
	color: white;
}

.styled-table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 16px;
	font-family: sans-serif;
	width: 100%;
}

.styled-table thead tr {
	background: linear-gradient(98.04deg, #3c1960 -9.26%, #a12669 58.73%);

	color: #ffffff;
	text-align: left;
}

.styled-table th,
.styled-table td {
	padding: 12px 15px;
}

.styled-table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.styled-table tbody tr.active-row {
	font-weight: bold;
	color: #009879;
}

.form-box {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 10px;
}

.form-box label {
	font-size: 14px;
	font-weight: 600;
}

.form-box input,
.form-box textarea,
.form-box select {
	background-color: #fffdfd;
	padding: 14px;
	font-size: 12px;
	border-radius: 16px;
	width: 100%;
	margin-bottom: 8px;
	margin-top: 12px;
	border: 1px solid rgb(220, 219, 219);
}

.profile-container {
	max-width: 700px;
	width: 90%;
	margin: 0 auto;
}

.nft-desc {
	display: flex;
	gap: 2em;
	margin-top: 36px;
	margin-bottom: 16px;
}

.sell-input {
	display: flex;
	gap: 2em;
}

.custom-file-input::-webkit-file-upload-button {
	visibility: hidden;
}
.custom-file-input::before {
	content: "upload";
	display: inline-block;
	background: linear-gradient(98.04deg, #3c1960 -9.26%, #a12669 58.73%);
	border-radius: 13px;
	padding: 10px 22px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	color: white;
	font-weight: 700;
	font-size: 10pt;
}
.custom-file-input:hover::before {
	border-color: transparent;
}
.custom-file-input:active::before {
	background: -webkit-linear-gradient(98.04deg, #3c1960 -9.26%, #a12669 58.73%);
}

.cat-img {
	position: relative;
}

.cat-img .input {
	position: absolute;
	bottom: 10px;
	right: 3px;
}

label.label input[type="file"] {
	position: absolute;
	top: -1000px;
}
.label {
	cursor: pointer;
	border: 0px solid #cccccc;
	border-radius: 100%;
	padding: 10px 12px;
	margin: 5px;
	background: linear-gradient(98.04deg, #3c1960 -9.26%, #a12669 58.73%);
	display: inline-block;
}
.label:hover {
	background: #5cbd95;
}
.label:active {
	background: #9fa1a0;
}
.label:invalid + span {
	color: #000000;
}
.label:valid + span {
	color: #ffffff;
}

button.swal-button.swal-button--confirm {
	background: linear-gradient(98.04deg, #3c1960 -9.26%, #a12669 58.73%);
	color: #fff;
	text-decoration: none;
	padding: 12px 10px;
	border-radius: 20px;
	display: block;
	width: 30%;
	margin: 0 auto;
}
button.swal-button.swal-button--confirm:hover {
	background: #4472c7;
	border-color: #4472c7;
}
.swal-button:focus {
	box-shadow: none;
}
.swal-button-container {
	margin: 5px;
	display: block;
	position: relative;
	text-align: center;
}

.swal-modal {
	border-radius: 20px;
}

.nft-collection {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 3em;
	margin-top: 3em;
	border-radius: 10px;
}

.nft-collection div {
	box-shadow: rgb(0 0 0 / 8%) 0px 4px 16px;
}

.nft-collection img {
	width: 100%;
	border-radius: 10px 10px 0 0;
	height: 250px;
}
